<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>BBC downloader</title>
    <link href="../static/css/bbc.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Cache-Control" content="no-cache">

    <ul>
        <li><a class="active" href="/bbc">Файлы</a></li>
        <li><a href="/order_choice">Заказ</a></li>
        <li style="float:right"><a href="#about">Об.</a></li>
    </ul>
</head>

{#Отправить#}
<div class="basediv1">
    <form method="POST">
        <label>
            <textarea rows="10" cols="60" name="text" placeholder="&nbsp; Insert link in me, please..."></textarea>
        </label>
        <input id='send_button' type="submit" name="button" value="Отправить"/>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3>&nbsp{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <img src="/static/img/medal.png"
         alt="альтернативный текст" width="160" height="100" title="За прохождение стресс-теста!">


</div>
<div class="basediv2">
    <table id="log">

        <thead>
        <th>Имя</th>
        <th>Размер</th>
        <th>Дата</th>
        <form id="form2" method="post">
            <th class="last_td">
                <input class="delete_button" form="form2" name="button" type="submit" value="Удалить всё"
                       onclick="return confirm('Уверена?')">
            </th>
        </form>
        </thead>

        <tbody>
        {% for item in data %}
            <tr>
                <td><a href="{{ item.link }}" download> {{ item.name }}</a></td>
                <td>{{ item.size }}</td>
                {#                <td><span style="display: none;">{{ item.timestamp }}</span>{{ item.date }}</td>#}
                <td data-sort={{ item.timestamp }}>{{ item.date }}</td>
                <form method="post">
                    <td class="last_td">
                        <button id="delete_button" class="delete_button" onclick="return confirm('Уверена?')">
                            <input type=hidden value="{{ item.name }}" name=button onclick="return confirm('Уверена?')">Удалить</input>
                        </button>
                    </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# jquery - для работы фильтра и поиска #}
<script type="text/javascript" charset="utf8" src="/static/js/jquery-3.5.1.min.js"></script>
{#<script type="text/javascript" charset="utf8" src="/static/js/order.js"></script>#}

{# Библиотека для фильтра и поиска #}
{#    <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css">#}
<script type="text/javascript" charset="utf8" src="/static/DataTables/datatables.min.js"></script>

{# Подключаем фильтр и поиск для наших таблиц #}
<script type="text/javascript" charset="utf8" src="/static/DataTables/for_bbc_table.js"></script>
</html>
