<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>test</title>
    <link href="../static/css/order.css" rel="stylesheet" type="text/css">
    {#    <link href="../static/css/week.css" rel="stylesheet" type="text/css">#}
    {#    <meta http-equiv="Cache-Control" content="no-cache">#}

</head>

<ul>
    <li><a href="/bbc">Home</a></li>
    <li><a class="active" href="/order">Заказ</a></li>
    <li style="float:right"><a href="#about">Об.</a></li>
</ul>
{#<div class="centered">#}
{#    <form id="form">#}
{#        <label for="week">What week would you like to start?</label><br>#}
{#        <input id="weekpicker" type="week" name="week" min="2022-W36" max="2022-W52"/>#}
{##}
{#        <button id="ok"> Ок</button>#}
{#    </form>#}
{#</div>#}
<div class="basediv2">
    <table id="state">
        <thead>
        <th>Картинка</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Длительность</th>
        <th>Жанр</th>
        <th></th>
        </thead>

        <tbody>
        {% for item in rows %}
            <tr>
{#                <td><img src="/static/img/p01lz9s7.jpg"></td>#}
{#                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg=="#}

                <td title='{{ item[6] }}'><img class="img" src="data:image/jpeg;base64,{{ item[11] }}"></td>
                <td>
                    <h2>{{ item[0] }}</h2> {#name#}
                    {{ item[1] }}<br> {#subname#}
                    {{ item[2] }}{#series#}
                    {{ item[3] }}{#episodes#}
                </td>
                <td class='disc'>{{ item[5] }} </td>
                <td>{{ item[7] }}</td>{#duration#}
                <td>{{ item[9] }}</td>{#genre#}
                {#                <td>#}
                {#                    <form method="post" id="todo-form">#}
                {#                        <input id="todo" name=button value="{{ item[4] }}">#}
                {#                        <button type="submit">Заказать</button>#}
                {#                    </form>#}

                <td class="last_td">
                    {#                    <form method="post" id="todo-form" action="/">#}
                    {#                        <input id="todo" name="lol" value="{{ item[4] }}">#}
                    {#                        <button name='kek' type="submit">Заказать</button>#}
                    {##}
                    {#                    </form>#}
                    {#                    <form method="post" id="todo-form" >#}
                    {#                        <button class="delete_button" id="submit" onclick="alerted();">#}
                    {#                            <input id="todo" type=hidden value="{{ item[4] }}" name='button'>Заказать#}
                    {#                        </button>#}
                    {#                    </form>#}
                    <form method="POST">
                        {#                        <input class="bbc_link" value="{{ item[4] }}">#}
                        <button id="send" class="delete_button" value="{{ item[4] }}">Заказать</button>
                    </form>
                    {##}
                    {#                    </form>#}
                </td>


                {#                <form method="post" id="changeform" action="/getandpost">#}
                {#                    <td class="last_td">#}
                {#                        <button type="button" class="btn btn-primary" name="submitbutton">Сохранить изменения</button>#}

                {#                                                <button id='submit' class="delete_button">#}
                {#                                                    <input id='test1' type=hidden value="{{ item[4] }}" name=button>Заказать</input>#}
                {#                                                </button>#}
                {#

 <form id="changeform" action="/getandpost" method="post" name="changeform">#}
                {#                            <input type="hidden" id="test1" name="test1" value="{{ item[4] }}"/>#}
                {#                            <input type="text" id="test2" name="test2"/>#}
                {#                            <input type="text" id="test3" name="test3"/>#}
                {#                            <button type="button" id='submit' class="btn btn-primary" name="submitbutton">#}
                {#                                Заказать#}
                {#                            </button>#}
                {#                    </td>#}
                {#                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# jquery - для работы фильтра и поиска #}
<script type="text/javascript" charset="utf8" src="/static/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/js/order.js"></script>
{#<script type="text/javascript" charset="utf8" src="/static/js/week.js"></script>#}

{# Библиотека для фильтра и поиска #}
{#    <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css">#}
<script type="text/javascript" charset="utf8" src="/static/DataTables/datatables.min.js"></script>

{# Подключаем фильтр и поиск для наших таблиц #}
<script type="text/javascript" charset="utf8" src="/static/DataTables/for_state_table.js"></script>
</html>

