<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Заказ</title>
    <link href="../static/css/order.css" rel="stylesheet" type="text/css">
    {#    <link href="../static/css/week.css" rel="stylesheet" type="text/css">#}
    {#    <meta http-equiv="Cache-Control" content="no-cache">#}

</head>

<ul>
    <li><a href="/bbc">Файлы</a></li>
    <li><a class="active" href="/order">Заказ</a></li>
    <li style="float:right"><a href="#about">Об.</a></li>
</ul>
{#<div class="centered">#}
{#    <form id="form">#}
{#        <label for="week">What week would you like to start?</label><br>#}
{#        <input id="weekpicker" type="week" name="week" min="2022-W36" max="2022-W52"/>#}
{##}
{#        <button id="ok"> Ок</button>#}
{#    </form>#}
{#</div>#}
<div class="basediv2">
    <table id="state">
        <thead>
        <th></th>
        <th>Название</th>
        <th>Описание</th>
        <th>Длительность</th>
        <th>Жанр</th>
        <th></th>
        </thead>

        <tbody>
        {% for item in rows %}
            <tr>
                <td title='{{ item.long_synopsis }}'><img class="img" src="data:image/jpeg;base64,{{ item.image }}"></td>
                <td>
                    <h2>{{ item.title }}</h2> {#title#}
                    {{ item.subtitle }}<br> {#subtitle#}
                    {{ item.series }}{#series#}
                    {% if item.episode_position %}
                        Episode {{ item.episode_position }} of {{ item.episode_count }}{#episodes#}
                    {% endif %}
                </td>
                {#summary#}
                <td>{{ item.medium_synopsis }} </td>
                {#duration#}
                {#            {{ str(datetime.timedelta(seconds=item[8])) }}#}
                <td data-sort={{ item.duration }}>
{#                    <span style="display: none;">{{ item[8] |int }} </span>#}
                    {{ convert(item.duration) }}
                </td>
                {#genre#}
                <td>{{ item.genre }}</td>


                <td class="last_td">
                    {# dowloaded or not #}
                    {% if item.downloaded %}
                        <button disabled class="send_button">v</button>
                    {% else %}
                        <form method="POST">
                            <button id="send" class="send_button" value="{{ item.url_id }}">Заказать</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# jquery - для работы фильтра и поиска #}
<script type="text/javascript" charset="utf8" src="/static/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/js/order.js"></script>
{#<script type="text/javascript" charset="utf8" src="/static/js/week.js"></script>#}

{# Библиотека для фильтра и поиска #}
{#    <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css">#}
<script type="text/javascript" charset="utf8" src="/static/DataTables/datatables.min.js"></script>

{# Подключаем фильтр и поиск для наших таблиц #}
<script type="text/javascript" charset="utf8" src="/static/DataTables/for_order_table.js"></script>
</html>

