html {
    background-image: url("../img/wood.jpg");
    /*background-repeat: no-repeat;*/
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

/*.basediv1 {*/
/*    border: black solid 1px;*/
/*    border-radius: 25px;*/
/*    height: 30%;*/
/*    overflow-y: scroll;*/
/*}*/

.basediv2 {
    border: black solid 1px;
    border-radius: 25px;
    height: 100%;
    overflow-y: scroll;
}

h3 {
    color: #dcd0d0;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
}

th {
    border: solid 1px;
    background-color: #AB6B48;
    color: black;
    text-align: center;
  /*  position: sticky;*/
  /*  top: 0;*/
  /*background: white;*/
  /*  display: block;*/
}

td {
    border: solid 1px;
    padding-left: 2px !important;
    text-align: center;
}

.last_td {
    padding: 0 !important;
    width: 30px;
}
.disc{
    text-align: left;
    padding: 10px !important;
}


img{
    padding: 2px;

}
a {
    color: black;
    text-decoration: none;
}

table.dataTable td:hover {
    background-color: rgba(255, 255, 255, 0.25);
    /*color: #e8cfcf;*/
}


.delete_button {
    background-color: #AB6B48;
    border: 1px solid;
    text-align: center;
    width: 100%;
}

#send_button {
    background-color: #AB6B48;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    *cursor: hand;
    font-size: 12pt;
    padding: 0.5em 1em;
}

#send_button:hover {
    background-color: rgba(205, 144, 144, 0.19);
}

textarea {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    color: black;
    height: 70%;
    width: 80%;
}

::placeholder {
    color: black;
    font-size: 12pt;
}

/*Search+++++++++++++++++++*/
.dataTables_filter input {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    color: #0c0c0c;
    overflow: hidden;
    text-align: center;
}

/*Table color++++++++++++++++++*/
table.dataTable tbody th, table.dataTable tbody td {
    background-color: #dbaf8a;
    color: black;
    padding: 0;

}

/*/++++++++++++++++++++++++++++++*/
select {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    text-align: center;
}


.dataTables_length {
    float: left;
    padding-left: 10px;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: right;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    padding-top: 0.25em;
    text-align: right;
}

/*Кнопки пагинации/ */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #AB6B48;
    border: 1px solid;
    border-radius: 25px;
    color: black !important;
    cursor: pointer;
    *cursor: hand;
    margin-left: 2px;
    /*box-sizing: border-box;*/
    /*display: inline-block;*/
    /*min-width: 1.5em;*/
    padding: 0.5em 1em;
    text-align: center;
    /*text-decoration: none !important;*/
}

/*Цвета текста управ. элементов*/
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: rgba(205, 144, 144, 0.19);
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;


}

table.dataTable thead .sorting {
    background-image: url("../DataTables/DataTables-1.10.21/images/sort_both.png");
}

table.dataTable thead .sorting_asc {
    background-image: url("../DataTables/DataTables-1.10.21/images/sort_asc.png");
}

table.dataTable thead .sorting_desc {
    background-image: url("../DataTables/DataTables-1.10.21/images/sort_desc.png");
}

table.dataTable thead .sorting_asc_disabled {
    background-image: url("../DataTables/DataTables-1.10.21/images/sort_asc_disabled.png");
}

table.dataTable thead .sorting_desc_disabled {
    background-image: url("../DataTables/DataTables-1.10.21/images/sort_desc_disabled.png");
}


/**/
ul {
    list-style-type: none;
    margin: 2px;
    padding-left: 10px;
    overflow: hidden;
    /*background-color: #333;*/
    border-radius: 25px;
}

li {
    float: left;
    border-right: 1px solid #000000;
    border-radius: 25px;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    font-size: 13pt;
    padding: 5px 5px;
    /*text-decoration: none;*/
    border-radius: 25px;
}

li a:hover:not(.active) {
    /*background-color: #111;*/
    background-color: rgba(205, 144, 144, 0.19);
}

.active {
    /*background-color: #4CAF50;*/
    background-color: #AB6B48;

}
