html {
    background-image: url("../img/wood.jpg");
}

select {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: white;
    color: black;
    font-family: monospace;
    font-size: 16px;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;

}

#current_week {
    color: blue;
}

.active {
    background-color: #AB6B48;
}

.week_title {
    background-color: #dbaf8a;
}



